@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
}

body {
  @apply text-white;
  background-color: #383d41;
  background-image: theme('backgroundImage.portfolio-pattern');
  background-size: 80px 140px;
  background-position: 0 0,0 0,40px 70px,40px 70px,0 0,40px 70px;
}
